#container{
	width: 80%;
	align-self: center;
	margin: auto;
	
}

.header, .nav, .content, .aside {
	border-style: solid;
	border-width: 1px;
}

.header {
	background: purple;
	text-align: center;
	padding: 30px;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
}

.header h1{
	color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

#busqueda{
	width: 80%;
}

.nav {
	background: lightblue;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	border-top-style: none;
}

.aside{
	background: orange;
	float: left;
	width: 25%;
	padding: 10px;
	min-height: 500px
}

.content{
	float: left;
	width: 70%;
	background: green;
	min-height: 500px;
	padding-top: 20px;
}

.footer{

	  position: fixed;
	  bottom: 0;
	  height: 40px;
	  width: 80%;
	  background-color: black;
	  color: white;
	  text-align: center;
	  margin: auto;
}

.article {
	color: white;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 1px;
	margin-left: 20px;
	margin-right: 20px;
}

.article:first-child{

	border-top-style: solid;
	border-top-width: 1px;
}


*{
	font-family: arial;
	
}



