*{
	
	margin: 0;
	padding: 0;
}

body{
	background-color: whitesmoke;
	font-family: arial, helvetica, sans-serif;
}

#container{ 
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
}

.header {
	background-color: red;
	height: 80px;
	width: calc(100% - 20px);
	text-align: center;
	line-height: 80px;
	color: white;
	padding: 0 10px;
	border-bottom: 3px dashed black;
}

.nav {
	overflow: hidden;
	background: lightblue;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	border-top-style: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

#busqueda{
	width: 80%;
}

.aside{
	background: orange;
	float: left;
	width: calc(30% - 25px);
	
	padding: 10px;
	min-height: 500px;
	border: 1px solid black;
}

.aside input[type="text"]{
	width: 100%;
}

.clearfix{
	clear: both;
}

.content{
	float: left;
	width: 70%;
	/*width: calc(70% - 40px)
	padding: 0 20px 0 20px*/
	background: green;
	min-height: 500px;
	padding-top: 20px;
	border: 1px solid black;
}

.footer{

	  position: fixed;
	  bottom: 0;
	  height: 40px;
	  width: 77%;
	  background-color: black;
	  color: white;
	  text-align: center;
	  margin: auto;
}

.article {
	color: white;
	border-bottom: 1px solid white;
	line-height: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 15px 0 15px 0;
}

.article:first-child{

	border-top-style: solid;
	border-top-width: 1px;
}


@media only screen and (max-width: 992px) {
	/* For mobile phones: */
	#container{
		width: 100%;
		align-self: center;
		margin: auto;
		
	}

	.header {
		background: blue;
		font-size: 70%;
	}

	.content{
		width: 50%;
	}

	.aside{
		width: calc(50% - 25px);
	}

	.footer
	{
		position: fixed;
		bottom: 0;
		height: 40px;
		width: 95%;
		background-color: black;
		color: white;
		text-align: center;
		margin: auto;

	}

	.article {
		color: white;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		line-height: 19px;
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media only screen and (max-width: 576px) {
	/* For mobile phones: */
	#container{
		width: calc(100% - 2px);
		
	}

	.header {
		background: purple;
		font-size: 70%;
	}
	.header h1 {
		white-space: nowrap;
		overflow:hidden;
		text-overflow: ellipsis;
	}

	.content{
		width: 100%;
	}

	.aside{
		width: calc(100% - 2px);
	}



	.article {
		color: white;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		line-height: 19px;
		margin-left: 20px;
		margin-right: 20px;
	}
}